
.myclass{
    background-color: aqua;
    color: blueviolet;
}

#mybutton{
    color: blueviolet;

}

h1{
    color:aqua;
    background-color: #e02b2b;
}

.box{
    width: 125px;
    height:50px;
    background-color:rgb(5, 133, 90);
    margin:5px 5px 5px 5px;
    display:inline-block;
    text-align: center;
}

.content{
    color:red;

}

.newclass{
    background-color: yellow;
}

button{
    background-color: antiquewhite;
}
#mybtn{
    background-color: aquamarine;
}
.box{
    height: 150px;
width: 200px;

background-color: brown;
color:white;
border:2px solid black;
margin: 10px;
justify-content: center;

}

.dark{
    background-color: blueviolet;
    color: white;
}
.light{
    background-color:white;
    color: black;
}